body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:500px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u73_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:306px;
}
#u73 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:306px;
}
#u74 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:145px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u75_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:583px;
}
#u75 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:381px;
  width:500px;
  height:583px;
}
#u76 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:284px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u77_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u77 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:113px;
  width:291px;
  height:26px;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u78 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  word-wrap:break-word;
}
#u79_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:46px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u79 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:185px;
  width:129px;
  height:46px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:40px;
}
#u80 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  word-wrap:break-word;
}
#u81_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:460px;
  height:150px;
  background:inherit;
  background-color:rgba(238, 238, 238, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:30px;
}
#u81 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:610px;
  width:460px;
  height:150px;
  font-size:16px;
  color:#666666;
  text-align:left;
  line-height:30px;
}
#u82 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:15px;
  width:456px;
  word-wrap:break-word;
}
#u83_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:291px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u83 {
  border-width:0px;
  position:absolute;
  left:57px;
  top:443px;
  width:291px;
  height:26px;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u84 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:287px;
  word-wrap:break-word;
}
#u85_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:63px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u85 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:318px;
  width:500px;
  height:63px;
}
#u86 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:24px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u87_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u87 {
  border-width:0px;
  position:absolute;
  left:127px;
  top:337px;
  width:115px;
  height:26px;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u88 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
#u89_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:81px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u89 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:337px;
  width:81px;
  height:26px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#1E1E1E;
  text-align:left;
}
#u90 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:77px;
  word-wrap:break-word;
}
#u91_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:115px;
  height:26px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u91 {
  border-width:0px;
  position:absolute;
  left:365px;
  top:337px;
  width:115px;
  height:26px;
  font-size:16px;
  color:#1E1E1E;
  text-align:right;
}
#u92 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:4px;
  width:111px;
  word-wrap:break-word;
}
