body {
  margin:0px;
  background-color:rgba(242, 242, 242, 1);
  background-image:none;
  position:static;
  left:auto;
  width:796px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u660_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:283px;
  background:inherit;
  background-color:rgba(44, 51, 117, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:28px;
}
#u660 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:283px;
  color:#FFFFFF;
  line-height:28px;
}
#u661 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:114px;
  width:496px;
  word-wrap:break-word;
}
#u662_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u662 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:50px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:20px;
  color:#FFFFFF;
  text-align:center;
}
#u663 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:13px;
  width:500px;
  word-wrap:break-word;
}
#u664_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:28px;
}
#u664 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:11px;
  width:28px;
  height:28px;
}
#u665 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:6px;
  width:24px;
  visibility:hidden;
  word-wrap:break-word;
}
#u666 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u667_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u667 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:293px;
  width:500px;
  height:75px;
}
#u668 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u669_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u669 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:307px;
  width:57px;
  height:16px;
}
#u670 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u671_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u671 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:339px;
  width:154px;
  height:16px;
  color:#999999;
}
#u672 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u673_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u673 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:339px;
  width:134px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u674 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u675_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FF0099;
}
#u675 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:307px;
  width:61px;
  height:16px;
  color:#FF0099;
}
#u676 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:61px;
  white-space:nowrap;
}
#u677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0099;
  line-height:20px;
}
#u677 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:295px;
  width:214px;
  height:40px;
  font-size:14px;
  color:#FF0099;
  line-height:20px;
}
#u678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  white-space:nowrap;
}
#u679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
  color:#FF0099;
  line-height:20px;
}
#u679 {
  border-width:0px;
  position:absolute;
  left:571px;
  top:361px;
  width:225px;
  height:60px;
  font-size:14px;
  color:#FF0099;
  line-height:20px;
}
#u680 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:225px;
  white-space:nowrap;
}
#u681 {
  border-width:0px;
  position:absolute;
  left:488px;
  top:315px;
  width:0px;
  height:0px;
}
#u681_seg0 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:8px;
  height:4px;
}
#u681_seg1 {
  border-width:0px;
  position:absolute;
  left:-4px;
  top:-4px;
  width:87px;
  height:8px;
}
#u681_seg2 {
  border-width:0px;
  position:absolute;
  left:-10px;
  top:-14px;
  width:20px;
  height:21px;
}
#u681_seg3 {
  border-width:0px;
  position:absolute;
  left:70px;
  top:-10px;
  width:20px;
  height:20px;
}
#u682 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u683 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u684 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:369px;
  width:500px;
  height:75px;
}
#u685 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u686_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u686 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:383px;
  width:123px;
  height:16px;
}
#u687 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:123px;
  white-space:nowrap;
}
#u688_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u688 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:415px;
  width:154px;
  height:16px;
  color:#999999;
}
#u689 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u690 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:415px;
  width:134px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u692_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A02D;
}
#u692 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:383px;
  width:58px;
  height:16px;
  color:#00A02D;
}
#u693 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u694 {
  border-width:0px;
  position:absolute;
  left:485px;
  top:391px;
  width:0px;
  height:0px;
}
#u694_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-4px;
  width:90px;
  height:8px;
}
#u694_seg1 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-10px;
  width:21px;
  height:20px;
}
#u694_seg2 {
  border-width:0px;
  position:absolute;
  left:73px;
  top:-10px;
  width:20px;
  height:20px;
}
#u695 {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u696 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u697_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:500px;
  height:75px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u697 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:445px;
  width:500px;
  height:75px;
}
#u698 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:30px;
  width:496px;
  visibility:hidden;
  word-wrap:break-word;
}
#u699_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u699 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:459px;
  width:129px;
  height:16px;
}
#u700 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u701_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
}
#u701 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:491px;
  width:154px;
  height:16px;
  color:#999999;
}
#u702 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:154px;
  white-space:nowrap;
}
#u703_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#999999;
  text-align:right;
}
#u703 {
  border-width:0px;
  position:absolute;
  left:351px;
  top:491px;
  width:134px;
  height:16px;
  color:#999999;
  text-align:right;
}
#u704 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:134px;
  white-space:nowrap;
}
#u705_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#00A02D;
}
#u705 {
  border-width:0px;
  position:absolute;
  left:427px;
  top:459px;
  width:58px;
  height:16px;
  color:#00A02D;
}
#u706 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:58px;
  white-space:nowrap;
}
#u707_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:250px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u707 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:190px;
  width:250px;
  height:93px;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u708 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:246px;
  visibility:hidden;
  word-wrap:break-word;
}
#u709_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u709 {
  border-width:0px;
  position:absolute;
  left:20px;
  top:207px;
  width:80px;
  height:60px;
  color:#FFFFFF;
  line-height:20px;
}
#u710 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  white-space:nowrap;
}
#u711_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u711 {
  border-width:0px;
  position:absolute;
  left:169px;
  top:207px;
  width:66px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u712 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:66px;
  white-space:nowrap;
}
#u713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:249px;
  height:93px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0.176470588235294);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u713 {
  border-width:0px;
  position:absolute;
  left:251px;
  top:190px;
  width:249px;
  height:93px;
  font-size:18px;
  color:#FFFFFF;
  line-height:20px;
}
#u714 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:38px;
  width:245px;
  visibility:hidden;
  word-wrap:break-word;
}
#u715_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
  line-height:20px;
}
#u715 {
  border-width:0px;
  position:absolute;
  left:271px;
  top:207px;
  width:83px;
  height:60px;
  color:#FFFFFF;
  line-height:20px;
}
#u716 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:83px;
  white-space:nowrap;
}
#u717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:66px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u717 {
  border-width:0px;
  position:absolute;
  left:420px;
  top:207px;
  width:66px;
  height:60px;
  font-size:18px;
  color:#FFFFFF;
  text-align:center;
  line-height:20px;
}
#u718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:20px;
  width:66px;
  white-space:nowrap;
}
