body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1129px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  height:140px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0099;
  line-height:28px;
}
#u0 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:218px;
  width:533px;
  height:140px;
  font-size:18px;
  color:#FF0099;
  line-height:28px;
}
#u1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:533px;
  white-space:nowrap;
}
#u2_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  height:112px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#FF0099;
  line-height:28px;
}
#u2 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:452px;
  width:756px;
  height:112px;
  font-size:18px;
  color:#FF0099;
  line-height:28px;
}
#u3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:756px;
  word-wrap:break-word;
}
#u4_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  height:224px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  line-height:28px;
}
#u4 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:657px;
  width:1077px;
  height:224px;
  font-size:18px;
  line-height:28px;
}
#u5 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1077px;
  word-wrap:break-word;
}
#u6 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:891px;
  width:734px;
  height:275px;
}
#u7_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:70px;
}
#u7 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:70px;
  font-size:16px;
}
#u8 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u9_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:70px;
}
#u9 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:0px;
  width:243px;
  height:70px;
  font-size:16px;
}
#u10 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:26px;
  width:239px;
  word-wrap:break-word;
}
#u11_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:70px;
}
#u11 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:0px;
  width:243px;
  height:70px;
  font-size:16px;
}
#u12 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u13_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u13 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:70px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u14 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u15_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u15 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:70px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u16 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u17_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u17 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:70px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u18 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u19_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u19 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:120px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u20 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u21_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u21 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:120px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u22 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u23_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u23 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:120px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u24 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u25_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u25 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:170px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u26 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u27_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u27 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:170px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u28 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u29_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u29 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:170px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u30 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u31_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u31 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:220px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u32 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u33_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u33 {
  border-width:0px;
  position:absolute;
  left:243px;
  top:220px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u34 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u35_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:50px;
}
#u35 {
  border-width:0px;
  position:absolute;
  left:486px;
  top:220px;
  width:243px;
  height:50px;
  font-size:16px;
}
#u36 {
  border-width:0px;
  position:absolute;
  left:2px;
  top:16px;
  width:239px;
  word-wrap:break-word;
}
#u37_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  height:84px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:18px;
  color:#1E1E1E;
  line-height:28px;
}
#u37 {
  border-width:0px;
  position:absolute;
  left:52px;
  top:41px;
  width:469px;
  height:84px;
  font-size:18px;
  color:#1E1E1E;
  line-height:28px;
}
#u38 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:469px;
  white-space:nowrap;
}
